<h1><%= 'Bolão da Confe' %></h1>
<p>
<%= "Boas vindas, #{@user.full_name} ." %>
</p>
<p>
<%= %(Clique aqui #{link_to(@confirmation_link, @confirmation_link)} para confirmar sua presença.).html_safe %>
</p>
<p>
<%= %(Obrigado por se cadastrar em #{link_to('Bolão da Confe', root_url)}).html_safe %>
</p>
