<h1><%= 'Bolão da Confe' %></h1>
<p>
<%= 'Boas vindas, %{full_name}.', :full_name => @user.full_name %>
</p>
<p>
<%= 'Clique aqui %{link} para confirmar sua presença.', :link => @confirmation_link %>
</p>
<p>
<%= 'Obrigado por se cadastrar!' %>
</p>
