<p><%= @statistics_results.to_a %></p>
<p><%= "#{@statistics_results.to_a}".html_safe %></p>

<div id="chart_div" style="width: 900px; height: 500px;"></div>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable(
    [
      ['Task', 'Hours per Day'],
      <%= "#{@statistics_results.to_a}".html_safe %>
    ]
   );
   
    var options = {
      title: 'Estatística do próximo jogo'
    };

    var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
</script>
