
<div class="control-group info">
  <label class="control-label" for="inputInfo">Total de palpites até o momento: <%= @count_results %></label>
</div>

<div id="chart_div" style="width: 900px; height: 500px;"></div>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable(
    [
      ['Seleção', 'Palpites'],
      <%= "#{@google_chart}".html_safe %>
    ]
   );
   
    var options = {
      title: 'Estatística do próximo jogo'
    };

    var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
</script>
