.match, input.match{
  width: 35px;
  height: 30px;
  text-align: center;
  font-size: 30px;
}

/* Sticky footer styles
-------------------------------------------------- */

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  /*margin: 0 auto -60px;*/
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 50px;
  padding-top: 15px;
  text-align: right;
}
#footer {
  background-color: #368717;
}

.content2{
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 5px;
  background: rgba(54, 135, 26, .8);
}

body{
  color: #f6f6f6 !important;
}

.credit {
  color: #ffee00;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
