<%= link_to "Bolão da Confe", "#", :class => 'brand' %>
<ul class="nav">
  <li>
  <%= link_to 'Jogos', matches_path %>
  </li>
  <li>
  <%= link_to 'Palpitar', results_path %>
  </li>
  <li>
    <%= link_to 'Sair', user_sessions_path, :method => :delete %>
  </li>
</ul>
